html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ecdcdc;
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #a18e8e;
  height: 60px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
